/* main all style */
main {
    /*min-height: calc(100vh - 120px);*/
}

html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}


body {
    padding-top: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.red-title {
    color: #ff1401;
}

/* style for header */
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.dropdown-menu a:hover {
    background-color: dodgerblue;
}


/* style for footer => */
footer {
    padding-top: 20px;
    box-shadow: 0 0 45px rgba(0,0,0,0.5);
    width: 100%;
}

footer a {
    color: rgba(196, 196, 196, 0.8);
    text-decoration: underline;
}
footer a:hover {
    color: white;
}
.footer-email {
    color: rgb(245, 211, 7);
    text-decoration: underline;
}
.footer-color {
    color: rgb(245, 211, 7);
}

footer small {
    color: rgba(255,255,255,0.8);
}

/* stlye for content */

.ustav {
    font-size: 18px;
    padding-bottom: 45px;
}
.ustav h2 {
    color: #ff1401;
    padding-top: 60px;
}
.ustav a {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
section.documents {
    padding-bottom: 45px;
}
section.news {
    padding-bottom: 45px;
}
section.contacts {
    padding-bottom: 45px;
}

.pb-45 {
    padding-bottom: 45px;
}
.text-align-justify {
    text-align: justify;
}

div.scrollup {
    position: fixed; /* фиксированная позиция */
    color: #fff; /* цвет текста */
    background-color: #286090; /* цвет заднего фона */
    right: 20px; /* расстояние от правого края */
    bottom: 0px; /* расстояние от нижнего края */
    padding: 4px 10px; /* отступы до содержимого блока */
    font-size: 20px; /* размер шрифта (иконки) */
    border-top-left-radius: 4px; /* скругление верхнего левого угла */
    border-top-right-radius: 4px; /* скругление верхнего правого угла */
    cursor: pointer; /* форма курсора */
    display: none; /* не отображать элемент */
    text-align: center; /*выравнивание содержимого элемента по центру */
    z-index: 1;
}
div.scrollup:hover {
    background-color: #000; /* цвет заднего фона при наведении */
}

.news .news-item {
    width: 330px;
}
